<html>
    <body>
        <table>
            <thead>
                <tr class="bg-gray-200">
                    <th>#</th>
                    <th>Buyer</th>
                    <th>Style</th>
                    <th>Color</th>
                    <th>QTY</th>
                </tr>
                <tr class="table-col-search">
                    <th></th>
                    <th><input type="text"></th>
                    <th><input type="text"></th>
                    <th><input type="text"></th>
                    <th><input type="text"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="bg-gray-200">1</th>
                    <td>Zara</td>
                    <td>XYZ</td>
                    <td>Red</td>
                    <td>500</td>
                </tr>
                <tr>
                    <th class="bg-gray-200">2</th>
                    <td>Zara</td>
                    <td>ABC</td>
                    <td>White</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <th class="bg-gray-200">3</th>
                    <td>H&M</td>
                    <td>KDF</td>
                    <td>Red</td>
                    <td class="bg-red-200">50000</td>
                </tr>
            </tbody>
        </table>
        
        <style>
          table {
            border-collapse: collapse;
            width: 100%;
          }
        </style>

        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Buyer</th>
                    <th>Style</th>
                    <th>Color</th>
                    <th>QTY</th>
                </tr>
                <tr class="table-col-search">
                    <th></th>
                    <th><input type="text"></th>
                    <th><input type="text"></th>
                    <th><input type="text"></th>
                    <th><input type="text"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="bg-gray-200">1</th>
                    <td>Zara</td>
                    <td>XYZ</td>
                    <td>Red</td>
                    <td>500</td>
                </tr>
                <tr>
                    <th class="bg-gray-200">2</th>
                    <td>Zara</td>
                    <td>ABC</td>
                    <td>White</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <th class="bg-gray-200">3</th>
                    <td>H&M</td>
                    <td>KDF</td>
                    <td>Red</td>
                    <td class="bg-red-200">50000</td>
                </tr>
            </tbody>
        </table>


    </body>
</html>